#!/usr/bin/env bash
set -e

{{ if eq .chezmoi.os "darwin" -}}
brew install \
    fd \
    fish \
    fzf \
    gh \
    git-lfs \
    neovim \
    ripgrep \
    tmux \
    zoxide

brew install --cask ghostty

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y \
    fd-find \
    fish \
    fzf \
    gh \
    git \
    git-lfs \
    neovim \
    ripgrep \
    tmux \
    zoxide

sudo dnf copr enable -y scottames/ghostty
sudo dnf install -y ghostty

{{ end -}}
