{
  "providers": {
    {{- if not (index . "is_work") }}
    "donatello": {
      "baseUrl": {{ keyring "donatello" "url" | quote }},
      "api": "openai-responses",
      "apiKey": {{ keyring "donatello" "token" | quote }},
      "contextWindow": 131072,
      "maxTokens": 32768,
      "models": [
        { "id": "qwen3.6" },
        { "id": "qwen3.6-coding" },
      ]
    }
    {{- end}}
  }
}
